body {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  #clickButton {
    margin: 1rem;
  }
  
  #count {
    font-weight: bold;
  }
  
  #logo {
    width: 200px;
    height: 200px;
    background: url('../assets/holberton-logo.jpg') no-repeat;
    background-size: cover;
  }
  